<div class="row" id="navbar">
  <div class="col col-xs-12">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About us', about_path %></li>
      <li><%= link_to 'Produce', "#" %></li>
      <li><%= link_to 'Gallery', "#" %></li>
      <li><%= link_to 'Contact', "#" %></li> |
      <li><%= link_to 'Signup', "#" %></li>
      <li><%= link_to 'Member login', "#" %></li>
    </ul>
  </div>
</div>
